:root {
    --soft-pink: #DFB4BF;
    --dark-gray-purple: #5B4850;
    --text-heading: #4e5662;
    --text-body: #8a919a;
    --light-gray: #f3f5f7;
    --medium-gray: #d3d7d9;
    --warning: #de564b;
    --success: #66c26a;
    --info: #6099da;
}

$sm: 30em;
$md: 48em;
$lg: 62em;
$xl: 80em;
$xxl: 96em;
