#hero {
  .hero__nav {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    place-content: center;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    position: absolute;
    top: -10%;
    bottom: 0;
    margin: auto;
    z-index: 100;
    font-size: 16px;
    color: #75A5AF;
    cursor: pointer;
    @media screen and (min-width:$md) {
      width: 60px;
      height: 60px;
      font-size: 30px;
    }
    &.hero__prev {
      left: 20px;
      span {
        margin-left: 7px;
      }
    }
    &.hero__next {
      right: 20px;
      span { margin-left: 4px; }
    }
  }
  .hero__container {
    position: relative;
    width: 100%;
    overflow: hidden;

    .hero__track {
      display: flex;
      transition: transform 0.5s ease;
      justify-content: center;
      gap: 1px;

      .hero__slide {
        width: 380px;
        flex: 0 0 50%; /* Each slide takes half of the slider's width */
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        position: relative;
        padding: 20px;
        color: white;
        @media screen and (min-width: $sm){
          grid-template-columns: 80px 1fr;
        }
        @media screen and (min-width: $md){
          grid-template-columns: minmax(180px, 200px) 1fr;
          padding: 40px 20px;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-color: var(--bg-color);
          @media screen and (min-width: $md){
            height: 80%;
          }
        }
        .hero__image{
          img {
            max-height: 120px;
            width: auto;
            @media screen and (min-width: $md){
              width: 100%;
              max-height: none;
            }
          }
        }
        .hero__title {
          margin: 10px 0 0 0;
          line-height: 1;
          font-size: 18px;
          @media screen and (min-width: $md){
            font-size: 30px;
          }
        }
        .hero__author {
          color: white;
          font-weight: 500;
          font-size: 16px;
          @media screen and (min-width: $md){
            font-size: 24px;
          }
        }
        .hero__description {
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 4.5em;
        }
        .hero__rating {
          margin-top: 5px;
          span {
            font-size: 14px;
            &.filled {
              color: chocolate;
            }
          }
        }
        .hero__button {
          border-radius: 100px;
          border: none;
          padding: 10px 20px;
          margin: 0;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: .2pt;
          cursor: pointer;
          color: var(--bg-color);
          span {
            filter: brightness(75%);
          }
        }
      }
    }
  }
}