@import 'partials/_config.scss';
@import 'partials/_text.scss';
@import 'partials/_shadows.scss';
@import 'partials/_content.scss';
@import 'partials/_animations.scss';
@import 'partials/_header.scss';
@import 'partials/_search.scss';
@import 'partials/_nav.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_content.scss';
@import 'partials/_hero.scss';

// Homepage
@import 'partials/home/_home.scss';
@import 'partials/home/_cards.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    padding: 0;
    //font-family: "Quicksand", sans-serif;
    font-family: "Source Sans 3", sans-serif;
    background: var(--light-gray);
    color: var(--text-body);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


img {
    width: 100%;
}

/* Small devices (landscape phones, 480px and up) */
@media (min-width: $sm) {
    body {
        font-size: 0.9em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $md) {
    body {
        font-size: 1em;
    }
}
.container {
    max-width: $xl;
    margin: 0 auto;
    padding: 0 20px;
}

.avatar {
    width: 40px;
    position: relative;
    cursor: pointer;
    &.small {
        width: 24px;
    }
    &:hover {
        .avatar__notification {
            animation: simple_pulse 2s infinite;
            animation-fill-mode: forwards;
        }
    }
    img {
        max-width: 100%;
    }
    .avatar__notification {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background: var(--warning);
        position: absolute;
        right: -1px;
        top: -1px;
        border: 2px solid white;
    }
}
.divider {
    display: inline-block;
    background: var(--text-body);
    margin: 20px 0;
    &.vertical {
        width: 1px;
        height: 25px;
    }
}