append global_variables
    - var pageTitle = "Static Sites | Discover Italy"

append head_styles
    link(rel="stylesheet" href="src/styles/main.scss")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0")

append head_scripts
    script(src='src/scripts/discover/experiences.js' type="text/javascript")
    script(src='src/scripts/discover/calendar.js' type="text/javascript")

block content
    include ../components/discover/header
    include ../components/discover/hero
    include ../components/discover/event
    include ../components/discover/experience
    include ../components/discover/calendar
    include ../components/discover/footer