.discover__event
    .container
        section.discover__event__inner
            picture.discover__event__image
                img(src='https://static-sites-git-main-itscarlosisaacs-projects.vercel.app/assets/images/discover/event_image.jpg' alt='Discover Italy Event')
            article.discover__event__details
                h2.discover__event__title Around the blue lagoon
                .details__list
                    .detail__item
                        span.title Departure
                        span.detail July
                    .detail__item
                        span.title Difficulty
                        span.detail Medium
                    .detail__item
                        span.title Group Size
                        span.detail 5-10
                    .detail__item
                        span.title Duration
                        span.detail 5 days

                p.discover__event__description
                    | Discover Italy is a series of events that will take place in Italy.
                    | The events will be held in various cities and will feature a variety of activities.
                button.discover__event-cta
                    span.discover__event-price $980
                    span.discover__event-copy Book This