.discover__footer
    .discover__image
    .container
        nav.footer__nav
            ul
                li: a(href='#') Tours
                li: a(href='#') Countries
                li.footer__logo: picture: img(src="https://static-sites-git-main-itscarlosisaacs-projects.vercel" +
                ".app/assets/images/discover/footer_logo.png" alt="Discover Italy" width="140")
                li: a(href='#') Events
                li: a(href='#') Reviews