.discover__header
    .container
        nav.header__nav
            ul
                li: a(href='#') Tours
                li: a(href='#') Countries
                li.header__logo: picture: img(src="https://static-sites-git-main-itscarlosisaacs-projects.vercel.app/assets/images/discover/discover_logo.png" alt="Discover Italy" width="140")
                li: a(href='#') Events
                li: a(href='#') Reviews