.discover__calendar__wrapper {
    padding-top: 3em;
    padding-bottom: 3em;
    overflow: hidden;
    .discover__calendar__header {
        text-align: center;
        h2 {
            font-size: 3em;
            line-height: 1;
            font-weight: 900;
            @media screen and (min-width: $md) {
                font-size: 4em;
            }
        }
        p {
            font-size: 1.2em;
        }
    }
    .discover__calendar__carousel {
        display: flex;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        align-items: center;
        margin: 0 auto;
        max-height: 680px;
        .discover__next,
        .discover__prev {
            z-index: 10;
            cursor: pointer;
            padding: 10px;
            border: 1px solid var(--text-heading);
            border-radius: 100px;
            opacity: 1;
            transition: opacity .3s;
            background: white;

            @media screen and (min-width: $md){
                opacity: 0.4;
                background: transparent;
            }

            &:hover {
                opacity: 1;
            }
            span {
                color:  var(--text-heading);;
                font-size: 2.4em;
            }
        }
        .discover__calendar__track {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            perspective: 300px;
            justify-content: center;
            align-items: center;
            .discover__calendar__slide {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 400px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                height: fit-content;
                background: white;
                padding: 6px;
                transition: transform .6s cubic-bezier(0.46, 0.45, 0.32, 1.17);
                transform-origin: bottom center;
                text-align: center;
                border-bottom: 3px solid var(--ev-color);
                z-index: 1;
                &[data-active="true"] {
                    transform: scale(1);
                    z-index: 2;
                    .thumbnail {
                        height: 200px;
                    }
                }
                .thumbnail {
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    transition: height 1s cubic-bezier(0.46, 0.45, 0.32, 1.17);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .tag {
                    padding: 4px 14px;
                    margin: 0;
                    position: relative;
                    z-index: 2;
                    background: white;
                    top: -20px;
                    border-radius: 4px;
                    text-transform: uppercase;
                    font-weight: 700;
                    background: var(--ev-color);
                    color: white;
                }
                .date {
                    margin: 0;
                    text-transform: uppercase;
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 1.1em;
                }
                .title  {
                    font-size: 2em;
                    text-transform: uppercase;
                    font-weight: 800;
                    letter-spacing: .2pt;
                }
                .details {
                    padding: 0 20px;
                    text-wrap: pretty;
                }
            }
        }
    }
}
