section.header__wrapper
    .container.header__inner
        form#search
            label(for='search')
                span.material-symbols-outlined search
                input(type='text' name='search' placeholder='Search books')
        .readbooks__logo
            h3 read
                strong books
        .nav__inner
            .avatar
                .avatar__notification
                img(src="https://avatar.iran.liara.run/public" alt="avatar")
            .divider.vertical
            .nav__trigger
                span.material-symbols-outlined menu
                .nav__trigger--text Menu
